[data-md-color-scheme="default"] {
  --md-primary-fg-color: #D46E23;
  --md-accent-fg-color: #032057;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #D46E23;
  --md-accent-fg-color: #FFFFFF;
}